* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-header-color: hsl(230, 17%, 14%);

  --primary-container-color: hsl(228, 12%, 44%);

  --primary-card-color: hsl(225, 100%, 98%);

  --hover-light-card: hsl(227, 47%, 96%);

  --primary-dark-header: hsl(0, 100%, 100%);

  --background-toggle-checked: #fff;
  --background-color-darkmode: hsl(228, 12%, 44%);
}

.darkmode {
  --primary-header-color: hsl(0, 100%, 100%);

  --primary-background-color: hsl(230, 17%, 14%);

  --primary-card-color: hsl(228, 28%, 20%);
  --hover-light-card: hsl(232, 33%, 28%);
  --background-toggle-checked: hsl(232, 33%, 28%);
  --background-color-darkmode: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  color: var(--primary-header-color);
  background-color: var(--primary-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.1rem;
  color: var(--primary-container-color);
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  h2 {
    margin-left: 13px;
  }
}

h4 {
  font-weight: 400;
  color: var(--primary-container-color);
}

h5 {
  font-weight: 900;
  font-size: 1.5rem;
}
.dark-text {
  color: var(--background-color-darkmode);
}

.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  cursor: pointer;
  padding-top: 1.6px;
  padding-left: 1.8px;
  /* display: inline-block; */
  font-size: 20px;
  height: 1em;
  width: 2em;
  background: linear-gradient(to right, hsl(210, 79%, 56%), hsl(146, 68%, 55%));

  border-radius: 1em;
}

.switch div {
  height: 0.9em;
  width: 0.9em;
  border-radius: 1em;
  background: var(--background-toggle-checked);
}

.switch input:checked + div {
  transform: translateX(100%);
}

@media screen and (min-width: 768px) {
  button {
    width: 40px;
    height: 20px;
  }
}

li {
  cursor: pointer;
  padding: 15px;
  /* padding-bottom: 18px; */
  background-color: var(--primary-card-color);
  margin-bottom: 20px;
  text-align: center;
  width: 90%;
  height: 130px;
  border-radius: 0.5rem;
}
li:hover {
  background-color: var(--hover-light-card);
}

@media screen and (min-width: 768px) {
  li {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    height: 150px;
    padding-bottom: 0;
  }
}

ul {
  list-style: none;
  font-size: 1rem;
  /* padding: 0.5rem; */
  /* padding: 25px; */
}

@media screen and (min-width: 768px) {
  ul {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.social-border-facebook {
  border-top: 5px solid hsl(208, 92%, 53%);
}
.social-border-twitter {
  border-top: 5px solid hsl(203, 89%, 53%);
}
.social-border-red {
  border-top: 5px solid hsl(348, 97%, 39%);
}
.social-border-linear {
  background: linear-gradient(
        var(--primary-card-color),
        var(--primary-card-color)
      )
      padding-box,
    linear-gradient(
        to right,
        hsl(37, 97%, 70%),
        hsl(5, 77%, 71%),
        hsl(329, 70%, 58%)
      )
      border-box;
  border-top: 1px;
  border-top: 4px solid transparent;
}

.social-border-linear:hover {
  background: linear-gradient(var(--hover-light-card), var(--hover-light-card))
      padding-box,
    linear-gradient(
        to right,
        hsl(37, 97%, 70%),
        hsl(5, 77%, 71%),
        hsl(329, 70%, 58%)
      )
      border-box;
  border-top: 1px;
  border-top: 4px solid transparent;
}
span {
  font-size: 2.5rem;
  font-weight: 700;
}
p {
  font-size: 11px;
  color: var(--primary-container-color);
  font-weight: 600;
}
.icons p {
  width: 90%;
}
.dashboard-header {
  border-bottom: 1.2px solid hsl(228, 12%, 44%);

  padding-bottom: 15px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .dashboard-header {
    border-bottom: 0;
  }
}

.count-views {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.main-container {
  width: min(320px, 90%);
  margin: auto;
}
.wrapper-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .wrapper-btn {
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .main-container {
    min-width: 90%;
  }
}
.wrappper-header {
  font-size: 14px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .wrappper-header {
    margin: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.wrapper-icon-view {
  height: 100px;
}

.icon-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-right: 8.5px;
  padding-left: 5px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.icon-up {
  margin-top: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
  color: hsl(146, 68%, 55%);
  font-weight: 600;
}

.icon-up p {
  color: hsl(146, 68%, 55%);
}
.icon-down {
  margin-top: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
  color: brown;
  font-weight: 600;
}
.icon-down p {
  color: brown;
}
.link {
  padding-top: 4px;
}
