*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
/* :root{
  --primary-body-color: hsl(227, 47%, 96%);

  --primary-container-color:  ;

  --primary-social-color: ;
} */

body{
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}
h1{
  font-size: 1.5rem;
}
h2{
  font-size: 1rem;
}
button{
  width: 20px;
  height: 10px;
}
li{
  padding: 15px;
  background-color: hsl(225, 100%, 98%);
  /* margin: 3px; */
  /* margin-left: auto;
  margin-right: auto; */
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  height: 130px;
  border-top: 5px solid  hsl(228, 81%, 56%);
  border-radius: 0.5rem;
}
span{
  font-size: 2.5rem;
  font-weight: 700;
}
p{
  font-size: 10px;
}
.dashboard-header{
  border-bottom: 0.5px solid;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.count-views{
  
  display: flex;
  justify-content: space-between;
 }

.main-container{
 width: min(320px, 90%);
  /* margin: 1rem; */
}
.wrapper-btn{
display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

}
.social-link{
  color: blueviolet;
}
@media screen and (min-width: 768px){
  .main-container{
    min-width: 90%;
  }
}
.wrappper-header{
 font-size: 14px;
 margin-bottom: 20px;
}
@media screen and (min-width: 768px){
  .wrappper-header{
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}

ul{
  list-style: none;
  font-size: 1.0rem;
  /* padding: 0.5rem; */
  /* padding: 25px; */
}

@media screen and (min-width: 768px){
ul{
  border: 1px solid;
  margin-top: 1.5rem;
  display: flex;
}
}

.icon-social{
     display: flex;
align-items: center;
   justify-content: center;
   gap: 5px;
}
.icons{
   display: flex;
  justify-content: space-between;
}
.icon-up{
  margin-top: 15px;
   display: flex;
   align-content: center;
   justify-content: center;
   color: green;
   font-weight: 600;
}
.icon-down{
   margin-top: 15px;
   display: flex;
   align-content: center;
   justify-content: center;
   color: brown;
   font-weight: 600;
}
.link{
  padding-top: 4px;
}