*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
:root{
  /* --primary-body-color: hsl(227, 47%, 96%); */

  --primary-container-color:  hsl(228, 12%, 44%);

  --primary-social-color: ;
}

body{
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}
h1{
  font-size: 1.5rem;
}
h2{
  font-size: 1rem;
  color: var(--primary-container-color);
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
}
h4{
  font-weight: 400;
  color: var(--primary-container-color);
}
h5{
  font-weight:900;
  font-size: 1.5rem;
}
button{
  width: 32px;
  height: 18px;
 border-radius: 7px;
 background-color:  hsl(230, 22%, 74%);
 border: 0px;
}
li{
  padding: 15px;
  background-color: hsl(225, 100%, 98%);
  margin-bottom: 20px;
  text-align: center;
  width: 90%;
  /* height: 130px; */
 
  border-radius: 0.5rem;
}
.social-border-facebook{
   border-top: 5px solid hsl(208, 92%, 53%);
}
.social-border-twitter {
 border-top: 5px solid hsl(203, 89%, 53%);
}
.social-border-red{
  border-top: 5px solid hsl(348, 97%, 39%);
}
span{
  font-size: 2.5rem;
  font-weight: 700;
}
p{
  font-size: 11px;
  color: var(--primary-container-color);
  font-weight: 600;
  /* width: 90%; */
}
.icons p{
  width: 90%;
}
.dashboard-header{
  border-bottom: 1.5px solid hsl(228, 12%, 44%);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.count-views{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
 }

 .main-container{
 width: min(320px, 90%);
 margin-right: auto;
 margin-left: auto;
 margin-top: 30px;
}
.wrapper-btn{
display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

}
.social-link{
  color: blueviolet;
}
@media screen and (min-width: 768px){
  .main-container{
    min-width: 90%;
  }
}
.wrappper-header{
 font-size: 14px;
 margin-bottom: 20px;
 
}
@media screen and (min-width: 768px){
  .wrappper-header{
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}

ul{
  list-style: none;
  font-size: 1.0rem;
  /* padding: 0.5rem; */
  /* padding: 25px; */
}

@media screen and (min-width: 768px){
ul{
  border: 1px solid;
  margin-top: 1.5rem;
  display: flex;
}
}

.icon-social{
     display: flex;
align-items: center;
   justify-content: center;
   gap: 5px;
   margin-bottom: 14px;
}
.icons{
   display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-right: 8.5px;
  padding-left: 5px;
  padding-bottom: 15px;
}
.icon-up{
  margin-top: 15px;
   display: flex;
   align-content: center;
   justify-content: center;
  color: hsl(146, 68%, 55%);
   font-weight: 600;
}
.icon-up p{
  color: hsl(146, 68%, 55%);
}
.icon-down{
   margin-top: 15px;
   display: flex;
   align-content: center;
   justify-content: center;
   color: brown;
   font-weight: 600;
}
.link{
  padding-top: 4px;
 
}